.white-background {
	background-color: #fff;
}

/*.back-navigation-bar {
	height: 37px;
	background: url(../images/bottom-chrome.png) repeat;
	padding: 8px 5px 5px 15px;
}*/

.enyo-button.back-button {
	/*color: #fff;*/
	font-size:16px;
}

.enyo-header {
	padding: 0;
}

.acc-header-listselector .enyo-menucheckitem-caption{
	margin-left: 15px;
	padding-right:0px; /* Reset */
}
.acc-header-listselector .enyo-menuitem-icon {
	margin-right: -15px;
}

.enyo-button {
	font-size:16px;
}

.enyo-progress-button {
	font-size:16px;
	/*	min-width:80px;*/
}

.enyo-progress-button.wide {
	/*width:163px;*/
}

.enyo-progress-button .enyo-progress-button-client {
	/*align:center;*/
}

.enyo-popup {

}

.enyo-popup.screenshot-thumbnail-popup {
	-webkit-border-image: none;
	border-width:0;
	background-color: rgba(0,0,0,.6);
}

.details-header {
	background: #fff url(../images/top-chrome-details.png) bottom left repeat-x !important;
	font-size:16px;
	height: 92px !important;
}

.details-header-image {
	width: 65px;
	height:65px;
	margin-right: 16px;
	-webkit-border-radius: 8px;
	border: 1px solid #adadad;
}

.details-header-title {
    font-size:20px;
    padding-bottom:2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details-header-body {
    font-size:15px;
	color:#40454c;
}

.details-header-reviews {
    font-size:14px;
	color:#40454c;
	margin-left:4px;
}

.details-header-body a {
	text-decoration:none;
	color:#40454c;
}

.details-header-price {
    font-size:16px;
	text-align:right;
}

.video-preview {
	height:200px;
	width:300px;
	display:none;

}

.divider-text {
    font-size:16px;
	color:blue;
	padding-top:-100px;
}

.linkButtonDiv {
	width:200px;
	margin: 0 auto;
}

.linkButtonDiv .linkButton, .linkButtonDiv .linkButton .enyo-button {
	margin-bottom:10px;
	color: #545454;
	font-size:16px;
}

.rating-count-text {
    font-size:24px;
	color:white;
}

.rating-positive-text {
    font-size:8px;
	color:green;
}

.rating-negative-text {
    font-size:8px;
	color:red;
}

.rating-count-image {
    padding-left:15px;
    padding-top:15px;

}

.rating-bar-left {
    padding-left:2px;
    padding-top:2px;
	height: 10px;
	background-color: blue;
	
}

.rating-bar-right {
    padding-right:2px;
    padding-top:2px;
	height: 10px;
	background-color: yellow;
	
}

.application-info {
    font-size:14px;
	margin: 2px;
	font-weight:medium;
	color:#666666;	
	white-space:pre-wrap;
}

.application-info-label {
	font-size:14px;
    color:#2e2e2e;
	font-weight:bold;
}

.report-list-button {
	margin-top:10px;
}
.report-header-image {
    margin-right: 10px
}
.report-button-box {
	margin-top:5px;
}
.averageRating { 
	width: 230px;
	margin: 0 auto;
}

.app-details-rate-app-header {
	font-size:14px;
	line-height:30px;
	height: 30px;
	margin:0 14px 0 14px;
}

.appSummary {
	margin: 15px 20px;
	padding:16px 2px 10px 2px;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}

.appSummary .application-info {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

.archive-version-note {
	margin-top: 24px;
}


.moreButton {
	text-align:right;
	font-size:14px;
	font-weight: bold;
	padding-right: 10px;
	background-color: transparent !important;/* override framework */
}

.review-buttons {
	font-size:14px;
	margin-bottom:15px;
	margin-left: 3px;
	padding-bottom:15px;
	border-bottom: 1px solid #d9d9d9;
}

.view-rating-label {
	float: left;
	padding: 0 15px;
	height: 30px;
	line-height: 40px;	
}

.review-buttons .enyo-radiobutton {
	font-size:14px;
}

.review-sort-buttons {
	width: 280px;
}

.enyo-button-light.helpful-button {
	min-width:65px;
	width:65px;
	margin:0 5px;
}

.enyo-button-light.twin-button {
	min-width:0px;
	/*height:0px;*/
	min-height:18px;
	margin-right:10px;
}

.enyo-button.enyo-button-light.twin-button .twin-inner {
	width:31px;
	height:30px;
	margin:-6px -10px;
	background: url(../images/toggle-saved.png) top left no-repeat;
}

.enyo-button.enyo-button-light.twin-button.enyo-button-depressed .twin-inner {
	background: url(../images/toggle-saved.png) bottom left no-repeat;
}

.enyo-button-light.single-button {
	min-width:163px;
	width:163px;
}

.appDescriptionHeader { 
	padding: 15px;
	font-size: 22px;
}

.app-description-review-header {
	padding: 15px 16px;
	font-size: 22px;
	color:black;
}

.appDescriptionText {
	margin-top: -10px;
	color: #4b4b4b;
	font-size: 14px; 
	padding: 0 30px 0 15px;
	margin-right:40px;
	line-height: 22px;
	white-space:pre-wrap;
}

.MoreLessLink {
	font-size:14px;
	background-color: transparent !important; /* override framework */
	text-align: right;
	padding-right:60px;
	margin-top:10px;
	font-weight:bold;
}

.addReview {
	/*padding: 10px 28px;
		margin: 15px 0;*/
	-webkit-border-image: none;
	border-radius:0;
	-webkit-border-radius:0;
	margin: 9px 15px;
}

.add-review-comment {
	padding: 14px 10px;
	margin: 4px -3px;
	background-color: #f2f2f2;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.review-box .enyo-tabbutton. .review-count-on-button {
	color: rgba(0,0,0, .5);
	padding:20px 0;
	text-align:center;
}
	.review-box .enyo-tabbutton.enyo-button-down .review-count-on-button,
	.review-box .enyo-tabbutton.enyo-button-depressed .review-count-on-button {
	color: rgba(255,255,255, .5);
}

.review-list-rows {
	font-size: 14px;
	color:#40454d; 
	padding: 10px 10px 10px 3px;
}

.review-list-rows {
	padding: 8px 19px 0 19px;
}

.review-list-rows .enyo-row {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom:9px;	
}

.review-row-container {
	padding: 0 15px;
}

.review-item-date {
	padding-right: 15px;
}

.review-list-comment {
	padding: 10px 0;
}

.review-list-author {
	font-weight: bold;
}

.review-usefull-count {
	padding: 4px 10px 4px 4px;
	margin-bottom: 10px;
	size: 12px; 
	color: #999999;
	font-style: italic;
	height: 30px;
	line-height: 35px;
}

.my-review-items {
	padding: 15px;
}

.my-review-stars {
	padding-right: 15px;
}

.my-review.enyo-row {
	border-bottom:1px solid #D9D9D9;
	margin-left: 3px;
	margin-bottom:15px;
}

.my-review-comment-text {
	font-color: ##40454D;
	font-size: 14px;
	padding: 0px 15px 15px 15px;
}

.my-review-date {
	font-size: 14px;
	text-align:right;
	color: #40454D;
	padding: 15px 15px 0 0;
}

.my-review-update-comment-button {
	width: 160px;
	margin: 0 0 15px 15px;
}

/*** THUMBNAIL SCROLLER *******/
.details-body-thumbnail-img {
	padding: 15px;
	margin: 15px;
	height: 260px;
}


.details-body-thumbnail-img {
/*    width: 300px;
	height: 200px;
	margin: 2px;
*/
}

.details-body-video-img {
 	padding: 15px;
	margin: 15px;
	height: 260px;
	width: 346px;
}


.thumbnailScrollerClass {
	height: 320px;
	/*background: url(../images/screenshot-background.png) repeat;*/
	/*background: #4F4F4F url(../images/menu/texture-background.png) repeat;*/
}

.thumbnail-scroller-background {
	background: #4F4F4F url(../images/menu/texture-background.png) repeat;
}

.details-body-video-img {
	position:relative;
}

.item-buttons {
	width:180px;
}

.saved-items .item-buttons {
	width:180px;
}

.video-overlay {
	position: absolute;
	top: 29px;
	border:none;
	margin-left: 29px;
	height: 234px;
	width: 320px;
	border-width:5px;
	-webkit-border-image: url(../images/AppCat_VideoCapture_bg.png) 5;
}

.video-overlay-play {
	position:absolute;
	width:54px;
	height:54px;
	left:50%;
	top:50%;
	margin: -27px 0 0 -27px;
}

.review-box {
	width:100%;
	background-color:#f2f2f2;
}

.relief-box {
	-webkit-border-image: url(../images/menu/scrollfade_box.png) 10 repeat;
	border-width:10px;
}

.relief-box.light {
	-webkit-border-image: url(../images/menu/scrollfade_box_light.png) 10 repeat;
}

.relief-box-inner {
	margin:-10px;
}
.review-count-on-button {
	color: gray;
	white-space:pre-wrap;
}
